/* 
    Created on : 20.04.2016, 10:28:21
    Author     : Svyatoslav Belimov
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #eef3f8;
    margin: 0 auto;
    overflow-x: hidden;
    color: #2f2f2f;
    font-size: 13px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

header{
    background: #2B394A;
    color: #97A5B4;
    height: 60px;
    width: 100%;
    min-width: 1200px;
    line-height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo{
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 60px;
    font-family: "Courier New", Courier, monospace;
}



.logo img{
    height: 56px;
}


.navigation{
    color: #A4B6CB;
    font-size: 15px;
    display: inline-block;
    line-height: 60px;

}

.navigation a{
    color: #A4B6CB;
    font-size: 15px;
    display: inline-block;
    margin-right: 0px;
    text-decoration: none;
        padding: 0px 20px;
}

.navigation a:hover{color: #fff;text-decoration: none; background: #0e1e30;}



.login_area{
    display: inline-block;
    float: right;
    line-height: 20px;
    text-align: right;
}

.login_area a{
    margin-top: 13px;
    line-height: 20px;
}

.login_area_user{
    width: 100%;
    
    line-height: 60px;
}

.login_area_user .user_name{
    display: inline-block;
    float: left;
    width: 360px;
    padding: 0px 5px;
    overflow: hidden;
    white-space: nowrap;
}

.login_area_user .user_name a{
    color: #fff;
    font-weight: bold;
}


.login_area_user .user_name a:first-child{
    margin: 0px 10px 0px 0px;
}

.login_area_user .logout{
    display: inline-block;
    float: right;
    width: 100px;
    padding: 0px 5px;
}

.login_area_user img{
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
    background: #fff;
}



.panel{
    background: #fff;
    border-radius: 3px;
    display: block;
    width: 100%;
    
}

.panel_title{
    padding: 15px 30px;
    font-size: 15px;
    color: #9CA2AB;
    font-weight: 400;
    border-bottom: 1px solid #F5F7F8;
    position: relative;
    word-wrap: break-word;
}

.panel_content{
    padding: 10px 30px;
    padding-bottom: 21px;
    display: block;
}

.panel_title:after{
    content: "";
    width: 90px;
    height: 1px;
    background: #00ada7;
    position: absolute;
    left: 0;
    bottom: -1px;
}



.dark_panel{
    background-color: #58697a;
    color: #ededed;
    padding: 5px;
}

.dark_blue_panel{
    background-color: #315c7d;
    color: #ededed;
}

.dark_blue_panel .panel_title{
    color: #ededed;

    
}

.dark_panel .panel_title{
    color: #ededed;
   
}

.text_align_center{
    text-align: center;
}

.dark_panel .panel_title:after{
    content: "";
    width: 90px;
    height: 1px;
    background: #f07b6f;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.dark_blue_panel .panel_title:after{
    content: "";
    width: 90px;
    height: 1px;
    background: #f07b6f;
    position: absolute;
    left: 0;
    bottom: -1px;
}



.margin_top_20px{
    margin-top: 20px;
}



p.btn_more{
    text-align: center;
    padding: 0px 20px;
}


p.btn_more a{
    display: block;
    background: #DFE9F2;
    padding: 15px 0;
    text-align: center;
    color: #607084; font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}


p.btn_more a:hover{
    background: #43526a;
    color: #fff;
    
    color: #fff !important;
}




.btn {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 13px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    outline: none;
}
.btn:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}


.show_all_button{
    display: block;
    background: #DFE9F2;
    padding: 15px 0;
    text-align: center;
    color: #607084; font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
        border-radius: 0 0 3px 3px;
    box-shadow: inset 0 3px 0 rgba(172, 182, 198, 0.2);
}
.show_all_button:hover{background: #43526a; color: #fff;}


.btn.btn_red{
    background: #e51c23;
    color: #fff;
}

.btn.btn_red:hover{
    background: #ff5177;
}

.btn.btn_blue{
    background: #03a9f4;
    color: #fff;
}

.btn.btn_blue:hover{
    background: #40c4ff;
}


.btn.btn_green{
    background: #009688;
    color: #fff;
}

.btn.btn_green:hover{
    background: #259b24;
}




.footer{
    text-align: center;
    padding: 30px;
}

.footer a{
    text-decoration: none;
    margin: 0px 15px;
    color: #03A9F4;
    font-size: 12px;
}


.footer a:hover{
    text-decoration: underline;
}


.panel_title span.edit {
    float: right;
    font-size: 11px;
}

.padding_10px{
    padding: 10px;
}

.sub_top{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    min-width: 1200px;
}

.sub_top .content_top{
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
    width: 1180px;
    margin: 0px auto;
    padding: 10px;
}


.sub_top .content_top a{
    padding: 5px 10px;
    text-decoration: none;
    margin: 0px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    display: inline-block;
}

.sub_top .content_top a:hover{
    background: #e1e7f4;
    
}


label{
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: rgba(0,0,0,.64);
}


p.sub_title{
    font-size: 20px;
}


.sub_content_block{
    width: 100%;
    display: block;
    padding: 10px 20px;
}

.sub_content_block .sub_title{
    font-size: 20px;
    margin-left: -15px;
}

.sub_content_block .sub_content_block_content{
    display: block;
    width: 100%;
}


a.right_terms{
    color:#03A9F4;
    text-decoration: none;
}

a.right_terms:hover{
    text-decoration: underline;
}

p.error_mess{
    text-align: center;
    color: #F44336;
    font-size: 15px;
    border: 1px solid #F44336;
    padding: 10px;
}

p.success_mess{
    text-align: center;
    color: #259b24;
    font-size: 15px;
    border: 1px solid #259b24;
    padding: 10px;
}


.reg_advantage{
    width: 100%;
    padding: 0px 15px;
}

.reg_advantage ul li{
    list-style: decimal;
    margin: 15px 0px;
    
}

.color_777{
    color: #777;
}

.font_size_11px{
    font-size: 11px;
}















